@tailwind components;
@tailwind utilities;
@tailwind base;
@font-face {
  font-family: 'Playfair Display SC', serif;
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  font-family: 'Righteous', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
}
